// painting bug on Safari
// expensive workaround that forces full repaint for every frame
// https://stackoverflow.com/questions/65082644/css-keyframe-animation-on-svg-is-smearing-background-in-safari
@keyframes Force-Full-Repaint-Frame {
  0% {
    -webkit-backdrop-filter: blur(0.01px);
  }
  100% {
    -webkit-backdrop-filter: blur(0px);
  }
}

@keyframes Line-Win-A {
  0% {
    opacity: 1;
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}
@keyframes Circle-A {
  0% {
    stroke-dashoffset: 35px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes Lines-A {
  0% {
    opacity: 1;
    stroke-dashoffset: 30px;
  }
  100% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}

@keyframes Triangle-Second-Line-A {
  0% {
    opacity: 1;
    stroke-dashoffset: 950px;
  }
  100% {
    stroke-dashoffset: 900px;
    opacity: 1;
  }
}

@keyframes Triangle-First-Line-A {
  0% {
    opacity: 1;
    stroke-dashoffset: 60px;
  }
  100% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}

@keyframes Right-Dot-A {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-90deg);
  }
}

@keyframes Left-Dot-A {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(90deg);
  }
}

@keyframes Heart-A {
  0% {
    opacity: 1;
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}

@keyframes Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes DeclarePlayerShape {
  0% {
    opacity: 0;
    transform: translateX(var(--declarePlayerShape));
  }
  10% {
    opacity: 1;
    transform: translateX(var(--declareBeforeStop));
  }
  90% {
    opacity: 1;
    transform: translateX(var(--declareAfterStop));
  }
  100% {
    opacity: 0;
    transform: translateX(calc(-1 * var(--declarePlayerShape)));
  }
}

@keyframes DeclarePlayerDeclaration {
  0% {
    opacity: 0;
    transform: translateX(var(--declarePlayerShape));
  }
  10% {
    opacity: 1;
    transform: translateX(var(--declareBeforeStop));
  }
  90% {
    opacity: 1;
    transform: translateX(var(--declareAfterStop));
  }
  100% {
    opacity: 0;
    transform: translateX(calc(-1 * var(--declarePlayerShape)));
  }
}
