.thumb-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #cfd5fa;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 2px #0b1340;

  .badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: #cfd5fa;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom-right-radius: 5px;

    .checkbox {
      background: url(../assets/img/radio.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
    }
  }
}

$toggle-background-color-on: #00f;
$toggle-background-color-off: #fff;
$toggle-control-color: white;
$toggle-width: 40px;
$toggle-height: 20px;
$toggle-gutter: 2px;
$toggle-radius: 50%;
$toggle-control-speed: 0.15s;
$toggle-control-ease: ease-in;

$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height;

.toggle-control {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 8px;

  .toggle-container {
    position: relative;
    height: $toggle-height;
    width: $toggle-width;
    margin: 0 5px;
  }

  input {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;

    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    &:focus {
      outline: 5px solid #000;
      outline-offset: 5px;
    }
  }

  input:checked + .control {
    background-color: $toggle-background-color-on;
    border-color: #00f;

    &:after {
      left: $toggle-width - $toggle-control-size - $toggle-gutter;
      border-color: #00f;
    }
  }

  .control {
    position: absolute;
    top: 0;
    left: 0;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: 50px;
    border: 2px solid #7f7f7f;
    background-color: $toggle-background-color-off;
    transition: background-color $toggle-control-speed $toggle-control-ease;

    &:after {
      content: "";
      position: absolute;
      left: -2px;
      top: -2px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 3px solid #7f7f7f;
      background: $toggle-control-color;
      transition: left $toggle-control-speed $toggle-control-ease;
    }
  }
}
