.game-container {
  box-sizing: border-box;
  padding-bottom: 0;

  .game {
    &.lobby {
      --board-shadow: #8688a9;
      --menu-bg-layer-1: #dfe1e8;
      --menu-bg-layer-2: #d2d3db;
      --menu-bg-layer-3: #cbccd4;
      --menu-bg-main: #d8dae1;
      --menu-bg-plain-main: #d8dae1;

      #game-menu {
        .btn-navigation-back {
          color: #22156d;

          &:hover {
            background: #cac1ff;
          }
          &.noFocusClick:focus {
            color: #3a2c86;
            background: #cac1ff;
            outline: 2px solid #000;
            outline-offset: 2px;
          }
        }
      }
    }
  }
}

// @media (max-width: 250px) {
//   .game-container {
//     padding: 20px 15px;
//     padding-bottom: 0;
//   }
// }

// @media (max-width: 200px) {
//   .game-container {
//     padding: 20px 10px;
//     padding-bottom: 0;
//   }
// }

// @media (min-height: 1000px) {
//   .game-container {
//     padding: 5%;
//   }
// }
