#game-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: var(--blue-bg);
  background: svg-url(
    '<svg xmlns="http://www.w3.org/2000/svg" width="518.547" height="518.547" viewBox="0 0 137.199 137.199"><path opacity=".998" fill="#1c2573" d="M0 0h137.199v137.199H-.001z"/><path d="M137.199 66.268c-24.94-.161-89.837 36.196-123.674 42.806-4.588.896-8.896 1.187-13.525-1.11v18.71L3.37 137.2h133.829z" fill="#192166"/><path d="M137.199 78.87c-10.07.363-36.395 3.706-61.032 27.196-31.274 29.818-63.977 24.947-63.977 24.947l-6.694-1.48L0 127.004v10.47l4.26.065 51.924 1.226 81.015-1.566z" fill="#171f5f"/><path d="M0 0v28.666c10.585-5.78 29.592-14.754 53.187-19.76 30.069-6.38 67.025-4.153 84.012-2.59V0z" fill="#1b246e"/></svg>'
  );
  background-size: contain;

  &.play-again {
    align-items: flex-start;
    top: auto;
    height: auto;
    background: none;
  }

  .menu {
    text-align: center;
    padding: 5px 35px;
    width: 100%;
    max-height: 100%;
    transition: 300ms opacity;

    .section {
      &.hidden {
        display: none;
      }
    }

    &.play-again {
      padding: 0px;
      margin-top: 50px;
      width: 100%;
      text-align: center;
    }
  }

  hr {
    max-width: 195px;
    width: 100%;
  }

  .title {
    letter-spacing: 1px;
    font-size: 20px;
    margin: 5px 0;
    margin-top: 10px;
  }
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;

  .menu-item {
    display: flex;
    justify-content: center;
  }
}

.game-start-info {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.4rem;
  width: 100%;
  margin-bottom: 10px;
}

.btn-pick {
  max-width: 195px;
  width: 100%;
  margin: 12px 0;
  font-size: 18px;
}

.btn-play-again {
  width: 100px;
  height: 100px;
  background: none;

  .play-again-btn-main {
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 200ms;

    &:hover {
      transform: rotate(45deg);
    }
  }
  &:hover,
  &:focus {
    background: none;
  }
}
@media (min-width: 800px) {
  .quick-start-menu {
    .title {
      letter-spacing: 1px;
      font-size: 28px;
      margin: 15px 0;
    }

    .btn-pick {
      font-size: 20px;
    }
  }
}
