@use "variables";
@use "functions";

html,
body {
  height: 100%;
  background-color: #2a1e84;
}

body {
  background: functions.svg-url(
      '<svg xmlns="http://www.w3.org/2000/svg" width="1737.333" height="936.528" viewBox="0 0 459.669 247.79"><defs><filter id="b" x="-.023" width="1.046" y="-.085" height="1.17" color-interpolation-filters="sRGB"><feGaussianBlur stdDeviation="9.872"/></filter><filter id="a" x="-.015" width="1.031" y="-.079" height="1.157" color-interpolation-filters="sRGB"><feGaussianBlur stdDeviation="10.41"/></filter></defs><path fill="#2a1e84" d="M0 0h459.67v247.79H0z"/><path d="M1216.52 568.18C825.918 861.334 308.78 897.175-331.636 620.468c-131.008-56.605-68.057 274.782-68.057 274.782h1615.328z" transform="matrix(.28457 0 0 .28457 114.876 -8.461)" fill="#281d7e" filter="url(#a)"/><path d="M-399.693 24.488l-13.16 270.815c399.083-.565 971.285 89.855 1035.373-270.815z" transform="matrix(.28457 0 0 .28457 117.485 -7.479)" fill="#261b74" filter="url(#b)"/><path d="M0 0v69.86C123.383 80.304 272.651 102.634 290.888 0z" fill="#1f2588"/><path d="M459.67 157.22c-124.7 41.38-195.583 107.119-420.712 16.755C-30.775 145.985 0 247.79 0 247.79h459.67z" fill="#321f89"/></svg>'
    )
    no-repeat center center fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: variables.$primary-txt-color;
}

@media (orientation: landscape) {
  ::-webkit-scrollbar {
    width: 14px;
    height: 12px; //this height is for when the scrollbar is in horizontal mode
    background-color: inherit;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #273442;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #777e95;
    background-clip: content-box;
    border: 4px solid transparent;
  }
  ::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

::-moz-selection {
  color: #fff;
  background: blue;
}

::selection {
  color: #fff;
  background: blue;
}

.delayed-reveal {
  opacity: 0;
  animation: Show 500ms 500ms forwards;
}
.reveal {
  opacity: 0;
  animation: Show 500ms forwards;
}

hr {
  border: 0.5px solid;
}

strong {
  font-weight: 700;
}

svg {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.visibility-hidden {
  visibility: hidden;
}

.svg-defs-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  visibility: hidden;

  .defs-collection {
    display: block;
    height: 0;
    width: 0;
  }
}

.game-container {
  margin: 0 auto;
}

.block-animation {
  opacity: 1 !important;
  stroke-dasharray: unset !important;
  stroke-dashoffset: unset !important;
  animation: unset !important;
}

button {
  user-select: none;
  cursor: pointer;
}

.btn {
  outline: none;
  transition: 250ms color ease-in-out, 250ms background-color ease-in-out;
  border-style: none;
  text-decoration: none;
  user-select: none;
}

.btn-primary {
  background: variables.$primary-btn-color;
  color: #fff7f7;
  border-radius: 25px;

  &.noFocusClick:focus {
    background: variables.$primary-color-hover;
    color: variables.$primary-txt-color-hover;
  }

  &.noFocusClick:focus {
    transition: none;
    outline: 2px solid #fff;
    outline-offset: 5px;
  }
}

.btn-secondary {
  background: #68788a;
  color: #fff;

  &.noFocusClick:focus {
    background: #000;
  }

  &.noFocusClick:focus {
    transition: none;
  }
}

.btn-leave {
  background: #e05276;

  &.noFocusClick:focus {
    background: #fab0c4;
    color: #5d0019;
  }

  &.noFocusClick:focus {
    transition: none;
    outline: 2px solid #fff;
    outline-offset: 5px;
  }
}

.btn-pick,
.btn-start,
.btn-leave {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &:focus {
    box-shadow: 0 0 0 12px #8169ff69;
  }
}

input:checked + .slider {
  background-color: #7c4dff;
}

input:focus + .slider:before {
  box-shadow: 0 0 0 12px #8169ff69;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#skip-to-game-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .btn {
    position: absolute;
    top: -100px;
    left: 0;
    display: block;
    width: 100%;
    padding: 25px 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: underline;
    opacity: 0;
    color: #fff;
    background: #111b51;
    pointer-events: none;

    &:focus {
      top: 0;
      outline: 3px solid #fff;
      outline-offset: 5px;
      opacity: 1;
      pointer-events: all;
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: #000;
  height: 100%;
  width: 100%;
  transition: opacity 200ms;

  &.active {
    opacity: 0.3;
    pointer-events: all;
    cursor: pointer;
  }
}

@media not all and (pointer: coarse) {
  .btn-primary {
    &:hover {
      background: variables.$primary-color-hover;
      color: variables.$primary-txt-color-hover;
    }
  }

  .btn-secondary {
    &:hover {
      background: #000;
    }
  }

  .btn-leave {
    &:hover {
      background: #fab0c4;
      color: #5d0019;
    }
  }
}
