.loader-ellipsis-container {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100px;

  .dot-1,
  .dot-2,
  .dot-3 {
    height: 10px;
    width: 10px;
    background-color: currentColor;
    border-radius: 2px;
  }

  .dot-1 {
    animation: Jump 1000ms ease-in-out 1000ms infinite;
  }
  .dot-2 {
    animation: Jump 1000ms ease-in-out 1100ms infinite;
  }
  .dot-3 {
    animation: Jump 1000ms ease-in-out 1200ms infinite;
  }
}

@keyframes Jump {
  20% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0);
  }
}

.loader-circle {
  stroke-dasharray: 31px;
  stroke-dashoffset: 7px;
  transform-origin: center;
  transform-box: fill-box;
  animation: Rotate 1000ms ease-in-out infinite,
    Stroke 3150ms ease-in-out infinite;
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes Stroke {
  0% {
    stroke-dashoffset: 7px;
  }
  10% {
    stroke-dashoffset: 7px;
  }
  40% {
    stroke-dashoffset: 31px;
  }
  50% {
    stroke-dashoffset: 31px;
  }
  80% {
    stroke-dashoffset: 7px;
  }
  100% {
    stroke-dashoffset: 7px;
  }
}
