#game-menu {
  .lobby {
    color: #22156d;

    .lobby-menu-title {
      color: #ddd;
    }

    .loader-ellipsis-container {
      margin: 40px 0;
    }
  }

  .countdown-container {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    color: #22156d;
    font-size: 28px;

    .countdown-circle {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    circle {
      transition: stroke-dashoffset 300ms;
    }
  }

  .pick-skin {
    .lobby-title {
      font-size: 30px;
      margin-bottom: 30px;
      letter-spacing: normal;
    }

    .items {
      display: inline-block;
    }
  }

  .online-circle {
    position: absolute;
    top: 40px;
    right: 80px;

    animation-delay: 1500ms;

    .circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #00e100;
      box-shadow: 0px 0px 0px 2px #15a415;
    }

    .pulse {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      opacity: 0;
      background: #009800;
      animation: Pulse 4s ease-in-out 2s infinite forwards;
    }
  }

  // joinPrivateGame
  .room-section {
    &.join-private-room {
      width: unset;
      max-width: 400px;
    }

    .btn-join-container {
      position: relative;
    }

    .locating-room {
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 20px;
      pointer-events: none;
    }

    .room-error-container {
      position: relative;
      color: red;
      margin-top: 25px;
      width: 150%;
      margin-left: -25%;
      white-space: nowrap;

      .room-error {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;

        span {
          background: #d8dae1;
        }
      }
    }

    .room-code-input {
      display: block;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      height: 55px;
      border: 2px solid #5954a8;
      background: #ffffffb2;
      text-align: center;
      font-size: 20px;
      outline: none;

      &[type="text"]::placeholder {
        color: #22156d80;
      }

      &:hover {
        border-color: #1000a3;
        background: #fff;
      }

      &[type="text"]:focus {
        border-color: #1000a3;
        background: #fff;
        box-shadow: 0px 0px 0px 1px #1000a3, 0px 0px 12px 2px #3fa2da;
      }

      // &.noFocusClick:focus {
      //   outline: 2px solid #000;
      //   outline-offset: 5px;
      // }
    }

    .btn-join {
      width: 100%;
      height: 55px;
      font-size: 20px;
      border-radius: 10px;
      color: #fff;

      &:hover {
        background: #1000a3;
      }

      &.noFocusClick:focus {
        background: #3100b5;
        outline: 2px solid #000;
        outline-offset: 5px;
      }
    }
  }

  // createPrivateGame
  .room-section {
    margin: 0 auto;
    width: 65%;

    .room-card {
      position: relative;
      margin: 50px 0;
      color: #000;

      .inner {
        position: relative;
        z-index: 1;
        transition: transform 250ms;
      }

      .shadow {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: #9597c1;
        border-radius: 30px;
      }
    }

    .code-title {
      padding: 20px 0;
      font-size: 30px;
      border: 8px solid #fff;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom: none;
    }

    .code-content {
      padding: 60px 0;
      background: #fff;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      font-size: 50px;
    }

    .btn-copy-link {
      position: relative;
      display: block;
      height: 55px;
      width: 100%;
      font-size: 20px;
      padding: 0;
      border-radius: 10px;
      background: #9597c1;
      -webkit-tap-highlight-color: transparent;

      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 4px;
        right: 4px;
        height: 100%;
        pointer-events: none;
        transition: transform 200ms;
      }

      &.noFocusClick:focus {
        &:after {
          outline: 3px solid #000;
          outline-offset: 12px;
          transform: translateY(-6px);
        }

        .btn-copy-link--inner {
          transform: translateY(-10px);
        }

        .fake-btn-shadow {
          transform: translateY(10px);

          .fake-corner {
            transform: translateY(0px);
          }
        }
      }

      &:hover {
        .btn-copy-link--inner {
          transform: translateY(-10px);
        }

        .fake-btn-shadow {
          transform: translateY(10px);

          .fake-corner {
            transform: translateY(0px);
          }
        }
      }

      .btn-copy-link--inner {
        display: flex;
        align-items: center;
        background: #fff;
        position: relative;
        height: 100%;
        border-radius: 10px;
        transition: transform 250ms;
      }
    }

    .fake-bar {
      text-align: left;
      padding: 0px 15px;
      white-space: nowrap;
      overflow: hidden;
      opacity: 0.7;
      font-size: 16px;
      border-radius: 10px;
    }
    .fake-btn,
    .fake-btn-shadow {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 125px;
      border-radius: 10px;
    }

    .fake-btn-shadow {
      background: #5c3db5;
      transition: transform 250ms;

      .fake-corner {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: #5c3db5;
        transform: translateY(-10px);
        transition: transform 100ms;
      }
    }

    .fake-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #7c4dff;
      color: #fff;
      box-shadow: -20px 0px 12px -12px #fff;
      transition: background 250ms, color 250ms;
    }
  }

  .pick-loader {
    position: absolute;
    top: -5px;
    left: -5px;
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 100%;

    .picker-loader-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    svg {
      width: 19px;
      height: 19px;
    }
  }

  .color-group,
  .shape-group {
    justify-content: center;
    --gap: 15px;
  }

  .btns-group {
    .color-item,
    .shape-item {
      &.frozen {
        filter: grayscale(1);
        cursor: not-allowed;
      }
    }

    .color-item,
    .shape-item {
      transition: filter 100ms 200ms;
      // media @345px
      // title -> font-size: 25px
      // height: 44px;
      // width: 44px;
      // --gap: 10px;

      &.frozen:hover {
        .color-item-bg {
          transform: none;
        }
      }

      &.selected {
        .shape-item-inner {
          transform: none;
        }
        .shape-item-bg {
          transform: translateY(-5px);

          &:after {
            outline: 3px solid #000;
            outline-offset: 6px;
            transform: none;
          }
        }

        .color-item-inner {
          transform: none;
        }
        .color-item-bg {
          transform: translateY(-5px);

          &:after {
            outline: 3px solid #000;
            outline-offset: 6px;
            transform: translateY(2px);
          }
        }
      }
    }
  }

  .declare-players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cac7e0;
    font-size: 40px;

    circle {
      display: none;
    }

    .player-shape {
      height: 275px;
      width: 275px;
      // animation: DeclarePlayerShape-1 3000ms linear normal forwards;
    }

    .which-player {
      font-weight: 700;
      color: #fff;
    }

    .declaration {
      // animation: DeclarePlayerDeclaration-1 3000ms linear reverse forwards;
    }
  }
}
