#menu {
  position: relative;

  nav {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }

  .menu-btn {
    display: block;
    background: #0e1051cf;
    color: #5966ca;
    height: 25px;
    padding: 5px 0;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 200ms background;

    &:hover {
      background: #060540;
    }

    &.noFocusClick:focus {
      background: #060540;
      transition: none;
    }
  }

  svg {
    display: block;
  }

  .menu-dropdown {
    position: absolute;
    top: -10px;
    left: 0;
    display: none;
    padding: 30px;
    width: 100%;
    color: #333;
    background: #eee;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10;
    transform: translateY(-100%);
    transition: transform 250ms;
    outline: none;

    &.active {
      transform: translateY(0);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }
  }

  .menu-h3 {
    font-size: 25px;
    margin: 15px 0;
  }
  .menu-h4 {
    font-size: 20px;
    margin: 15px 0;
    // flex: 1;
  }

  margin-bottom: 15px;
}

.toggle-ai {
  display: flex;
}

.ai-radio {
  position: relative;
  align-self: flex-start;

  input {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% + 5px);
    margin: 0;
    pointer-events: none;
    outline: none;
  }

  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
  }

  .radio-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: #999;
  }

  svg {
    .radio-icon-selected {
      opacity: 0;
    }
  }

  input[type="radio"]:checked + label {
    .radio-icon {
      color: #00f;
    }

    svg {
      .radio-icon-selected {
        opacity: 1;
      }
      .radio-icon-unselected {
        opacity: 0;
      }
    }
  }

  input.noFocusClick:focus {
    outline: 2px solid #000;
    outline-offset: 2px;
  }
}

.ai-difficulty {
  display: flex;
  flex-direction: column;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;

    .ai-radio {
      input[type="radio"]:checked + label {
        .radio-icon {
          color: inherit;
        }
      }
    }
  }

  & .ai-difficulty-inner {
    display: flex;
    flex-direction: column;
  }
}

.multiplayer-btns {
  display: flex;
  flex-direction: column;

  .btn-multiplayer {
    margin-bottom: 8px;
    padding: 10px 15px;
    font-size: 18px;
    // letter-spacing: 2px;
    border-radius: 10px;
  }
}
