.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: var(--blue-bg);
  transition: 900ms opacity;

  &.play-again {
    align-items: flex-start;
    top: auto;
    height: auto;
    background: none;
  }
}

.menu {
  padding: 5px 45px;
  width: 100%;
  transition: 300ms opacity;

  &.play-again {
    padding: 0px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
}

.menu-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.game-start-info {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.4rem;
  width: 100%;
}
