.dropdown {
  position: absolute;
  top: 42px;
  width: 100%;
  background: #ddd;
  color: #333;
  border: 1.5px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.hide-v {
  visibility: hidden;
}

.position-top {
  bottom: 53px;
}

.dropdown-settings {
  text-transform: capitalize;
}

.dropdown-settings-list {
  padding: 15px 0 15px 30px;

  cursor: pointer;

  &:hover,
  &.noFocusClick:focus {
    background: darken($white, 20%);
  }
}

.player-btn-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 65px;
  margin-bottom: 30px;

  // { fix clip animation in Safari
  // z-index: 10;
  // transform: translateZ(0);
  // }
}

.dropdown-options-menu {
  position: relative;

  &:first-child {
    margin-right: 25px;
  }
}

.player-btn-options {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
  // removes padding in safari
  margin: 0;
  appearance: none;
  //
  border-radius: 10px;
  border: none;
  background: var(--blue-activated);
  color: var(--pale-purple);
  outline: none;
  cursor: pointer;
  user-select: none;
  font-family: "Roboto";
  transition: 250ms background-color, 250ms box-shadow;
  z-index: 2;

  &:disabled {
    cursor: auto;
  }

  &.pre-game {
    background: var(--blue-bg);

    .player-options {
      color: var(--pale-purple);
    }

    .player-score {
      color: var(--pale-purple);
    }

    .monochrome {
      path {
        stroke: var(--pale-purple);
      }
      g {
        fill: var(--pale-purple);
      }
    }
  }

  &:hover:not(:disabled),
  &.noFocusClick:focus,
  &.active {
    color: #fff;
    background: #060540;

    .monochrome {
      opacity: 0;
      transition: opacity 250ms;
    }

    .full-color {
      opacity: 1;
    }
  }

  &.active-color-shape {
    .monochrome {
      opacity: 0;
      transition: opacity 250ms;
    }

    .full-color {
      opacity: 1;
    }
  }

  &.noFocusClick:focus {
    outline: 2px solid #fff;
    outline-offset: 5px;
    transition: none;
    .monochrome {
      transition: none;
    }
  }

  &.active {
  }

  &.active:hover {
    // box-shadow: 0px 14px 11px -8px #000;
  }
}

.player-current-indicator {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  // background: linear-gradient(90deg, rgba(255,115,115,1) 17%, rgba(253,29,29,1) 85%);
  background: var(--blue-shadow);
  box-shadow: 0px 10px 0px var(--blue-shadow);
}

.fake-player-btn {
  position: relative;
  top: 10px;
  height: 65px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  background: #eee;
  pointer-events: none;
}

.player-mark {
  position: relative;
  height: 100%;
  width: 30%;

  .full-color,
  .monochrome {
    position: absolute;
    top: 0;
    left: 0;
  }

  .full-color {
    opacity: 0;
  }

  .monochrome {
    z-index: 10;
    path {
      stroke: var(--pale-purple-activated);
    }
  }
}

.player-score-container {
  display: flex;
  justify-content: center;
  width: 0;

  .player-score {
    font-weight: 700;
    color: #ccc;
  }
}

.player-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 10%;
  padding: 2%;
  color: var(--pale-purple-activated);
}

.options {
  &-shape,
  &-color,
  &-ai {
    margin-bottom: 15px;
  }
}

.options-title {
  font-size: 1.5rem;
  margin-right: 15px;
}

.options-ai-title-group {
  display: flex;
  align-items: center;
}
