.quick-start-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: var(--blue-bg);
  background: url(../assets/img/start-menu-bg.svg);
  background-size: contain;

  &.play-again {
    align-items: flex-start;
    top: auto;
    height: auto;
    background: none;
  }

  .menu {
    text-align: center;
    padding: 5px 35px;
    width: 100%;
    max-height: 100%;
    transition: 300ms opacity;

    .section {
      &.hidden {
        display: none;
      }
    }

    &.play-again {
      padding: 0px;
      margin-top: 50px;
      width: 100%;
      text-align: center;
    }
  }

  hr {
    max-width: 195px;
    width: 100%;
  }

  .title {
    letter-spacing: 1px;
    font-size: 20px;
    margin: 5px 0;
    margin-top: 10px;
  }
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-start-info {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.4rem;
  width: 100%;
  margin-bottom: 10px;
}

.btn-pick {
  max-width: 195px;
  width: 100%;
  margin: 12px 0;
  font-size: 18px;
}

.btn-play-again {
  width: 100px;
  height: 100px;
  background: none;

  .play-again-btn-main {
    transform-origin: center;
    transform-box: fill-box;
    transition: transform 200ms;

    &:hover {
      transform: rotate(45deg);
    }
  }
  &:hover,
  &:focus {
    background: none;
  }
}
@media (min-width: 800px) {
  .quick-start-menu {
    .title {
      letter-spacing: 1px;
      font-size: 28px;
      margin: 15px 0;
    }

    .btn-pick {
      font-size: 20px;
    }
  }
}
