$primary-color: #7c4dff;
$primary-txt-color: #ddd;
$primary-btn-color: $primary-color;
$starting-color: #1d2a73;
$white: #ddd;

:root {
  --primary-color: #{$primary-color};
  --blue-bg: #{$starting-color};
  --blue-activated: #4959df;
  --blue-activated: #3d4cc0;
  --blue-shadow: #0e1051;
  --pale-purple: #7886c9;
  --pale-purple-activated: #9ba8e9;
  --board-gap: 8px;
}
