$primary-color: #7c4dff;
$primary-txt-color: #ddd;
$primary-btn-color: $primary-color;
$starting-color: #2835a5;
$white: #ddd;

:root {
  --primary-color: #{$primary-color};
  --blue-bg: #4959df;
  --blue-bg: #{$starting-color};
  --blue-activated: #4959df;
  --blue-activated: #3d4cc0;
  --blue-shadow: #0e1051;
}
