@import "normalize";
/* //////////////////////////////////// */

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: url(../assets/img/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  overflow-y: hidden;
  font-size: 1rem;
}

main {
  box-sizing: border-box;
  padding: 10px 30px;
  margin: 0 auto;
}

.game-container {
  margin: 0 auto;
}

.board {
  background: linear-gradient(
    297deg,
    rgba(163, 10, 250, 0.4) 0%,
    rgba(4, 0, 255, 0.4) 100%
  );
  margin: 0 auto;
  display: flex;
  // fix col-row
  flex-direction: column;
  min-height: 100px;
  border-radius: 30px;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.row {
  flex: 1;
  text-align: center;
  // fix col-row
  display: flex;

  & > div {
    background: #ff00f205;
    position: relative;
    // fix col-row
    width: 100%;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  & > div::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  & > div:hover,
  & > div:focus {
    background: #ff00f22c;
    outline: none;
  }
  & > div:hover svg {
    transform: scale(1.1);
    outline: none;
  }
}

// .column > div::before {
//   content: "";
//   display: block;
//   padding-bottom: 100%;
// }

svg {
  width: 100%;
  height: 100%;
  transition: 0.5s cubic-bezier(0.4, 0, 0.58, 1);
}

.right-dot {
  opacity: 0;
  animation: Right-Dot-A 0.5s cubic-bezier(0.4, 0, 0.58, 1);
  transform-origin: 13.2291665px 13.2291665px;
  transform: rotate(0deg); /*-> -90deg*/
}

.left-dot {
  opacity: 0;
  animation: Left-Dot-A 0.5s cubic-bezier(0.4, 0, 0.58, 1);
  transform-origin: 13.2291665px 13.2291665px;
  transform: rotate(0deg); /*-> -90deg*/
}

.left-line,
.right-line {
  opacity: 0;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: Lines-A 0.5s cubic-bezier(0.4, 0, 0.58, 1);
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.circle-left,
.circle-right {
  stroke-dasharray: 35;
  stroke-dashoffset: 35;
  animation: Circle-A 1s cubic-bezier(0.4, 0, 0.58, 1);
  animation-fill-mode: forwards;
}

@keyframes Circle-A {
  0% {
    stroke-dashoffset: 35;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes Lines-A {
  0% {
    opacity: 1;
    stroke-dashoffset: 30;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes Right-Dot-A {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-90deg);
  }
}

@keyframes Left-Dot-A {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(90deg);
  }
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 15px;
  height: 45px;
  color: #ddd;
  font-size: 1.5rem;
}

.line-svg {
  margin: 0 auto;
  /* rediscovered how cool sticky is */
  position: sticky;
  bottom: 750px;
  pointer-events: none;
}

.line-long,
.line-short {
  opacity: 0;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: Line-Win-A 1s cubic-bezier(0.4, 0, 0.58, 1);
  animation-fill-mode: forwards;
}

@keyframes Line-Win-A {
  0% {
    opacity: 1;
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

.game-start {
  margin: 0 auto;
}

.btn {
  transition: 0.5s color ease-in-out, 0.5s background-color ease-in-out;
  margin: 0 auto;
  border-style: none;
  cursor: pointer;
}

.btn-start {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 25px;
  background: #7c4dff;
  color: #ddd;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;

  &:hover {
    background: #ddd;
    color: #7c4dff;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 1.25rem;
  }
}
