@import "normalize";
@import "animations";
@import "variables";
/* //////////////////////////////////// */

html,
body {
  height: 100%;
}

body {
  background: url(../assets/img/background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-font-smoothing: antialiased;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: $primary-txt-color;
}

hr {
  border: 0.5px solid;
}

main {
  box-sizing: border-box;
  padding: 10px 30px;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: 100%;
}

.defs-collection {
  display: block;
  height: 0;
  width: 0;
}

.game-container {
  margin: 0 auto;
}

.block-animation {
  opacity: 1 !important;
  stroke-dasharray: unset !important;
  stroke-dashoffset: unset !important;
  animation: unset !important;
}

.board {
  background: linear-gradient(
    297deg,
    rgba(163, 10, 250, 0.4) 0%,
    rgba(4, 0, 255, 0.4) 100%
  );
  display: flex;
  position: relative;
  margin: 0 auto;
  // fix col-row
  flex-direction: column;
  min-height: 100px;
  border-radius: 30px;
  overflow: hidden;

  svg {
    transition: 0.5s cubic-bezier(0.4, 0, 0.58, 1);
  }
  .animate__first-line,
  .animate__second-line,
  .animate__third-line {
    opacity: 0;
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }

  .animate__second-line {
    animation: Triangle-Second-Line-A 0.4s cubic-bezier(0.4, 0, 0.58, 1);
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  .animate__third-line {
    animation: Triangle-Second-Line-A 0.4s cubic-bezier(0.4, 0, 0.58, 1);
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
  }
  .animate__first-line {
    animation: Triangle-First-Line-A 0.4s cubic-bezier(0, 0.28, 0.9, 0.65);
    // animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }

  .animate__right-dot {
    opacity: 0;
    animation: Right-Dot-A 0.5s cubic-bezier(0.4, 0, 0.58, 1);
    transform-origin: 13.2291665px 13.2291665px;
    transform: rotate(0deg); /*-> -90deg*/
  }

  .animate__left-dot {
    opacity: 0;
    animation: Left-Dot-A 0.5s cubic-bezier(0.4, 0, 0.58, 1);
    transform-origin: 13.2291665px 13.2291665px;
    transform: rotate(0deg); /*-> -90deg*/
  }

  .animate__left-line,
  .animate__right-line {
    opacity: 0;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    animation: Lines-A 0.5s cubic-bezier(0.4, 0, 0.58, 1);
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  .animate__circle-left,
  .animate__circle-right {
    stroke-dasharray: 35;
    stroke-dashoffset: 35;
    animation: Circle-A 1s cubic-bezier(0.4, 0, 0.58, 1);
    animation-fill-mode: forwards;
  }

  .animate__heart {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    animation: Heart-A 1s cubic-bezier(0.4, 0, 1, 1);
    // animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.row {
  flex: 1;
  text-align: center;
  // fix col-row
  display: flex;

  & > div {
    background: #ff00f205;
    position: relative;
    // fix col-row
    width: 100%;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  & > div::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  & > div:hover,
  & > div:focus {
    background: #ff00f22c;
    outline: none;
  }
  & > div:hover svg {
    transform: scale(1.1);
    outline: none;
  }
}

.stats {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  height: 0;
  margin: 0;
  padding: 0;
}

.line-svg {
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 100%;
}

.animate__line-long,
.animate__line-short {
  opacity: 0;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: Line-Win-A 1s cubic-bezier(0.4, 0, 0.58, 1);
  animation-fill-mode: forwards;
}

.game-start {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.game-start-info {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.4rem;
  width: 100%;
}

.btn {
  transition: 0.25s color ease-in-out, 0.25s background-color ease-in-out;
  border-style: none;
  cursor: pointer;
}

.btn-primary {
  background: $primary-btn-color;
  color: #ddd;
  border-radius: 25px;

  &:hover,
  &:focus {
    background: #ddd;
    color: $primary-btn-color;
  }
}

.btn-secondary {
  background: #68788a;
  color: #fff;

  &:hover,
  &:focus {
    background: #273442;
  }
}

.btn-pick {
  width: 45%;
  border-radius: 10px;
}
.btn-dropdown {
  position: relative;
  width: 45%;
}

.btn-pick,
.btn-start {
  margin-top: 20px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn-start {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 20px;
}

.dropdown {
  position: absolute;
  top: 42px;
  width: 100%;
  background: #ddd;
  color: #333;
  border: 1.5px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.hide-v {
  visibility: hidden;
}

.position-top {
  bottom: 53px;
}

.dropdown-settings {
  text-transform: capitalize;
}

.dropdown-settings-list {
  padding: 15px 0 15px 30px;

  cursor: pointer;

  &:hover,
  &:focus {
    background: darken($white, 20%);
  }
}

.player-btn-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  margin-bottom: 10px;
  z-index: 1;
}

.player-btn-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48%;
  padding: 10px;
  background: rgba(4, 0, 255, 0.4);
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.25s background-color;

  &:hover,
  &:focus,
  &.active {
    color: #fff;
    background: #060540;

    .monochrome {
      opacity: 0;
      transition: opacity 0.25s;
    }
  }

  &.active {
    // border-bottom: 4px solid blue;
    box-shadow: -3px 9px 0 3px #ddd;
  }
}

#P1-btn-options {
  &.active {
    box-shadow: 3px 9px 0 3px #ddd;
  }
}

.player-mark {
  position: relative;
  height: 100%;
  width: 30%;

  .full-color,
  .monochrome {
    position: absolute;
    top: 0;
    left: 0;
  }

  .monochrome {
    z-index: 10;
    path {
      stroke: #ddd;
    }
  }
}

.player-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 10%;
  padding: 2%;
  color: #667ae0;
}

.dropdown-options {
  // display: none;
  position: absolute;
  top: 8vh;
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 30px;
  background: #eee;
  color: #333;
}

.options-dropdown {
  width: 100%;
}
.P1-options {
  border-top-left-radius: 0;
}
.P2-options {
  border-top-right-radius: 0;
  right: 0;
}

.dropdown-options-container {
}

.options-btn {
  padding: 10px 20px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.15rem;
  text-transform: capitalize;
}

.shape-group {
  display: flex;
}
.shape-list {
  width: 50px;
  margin-right: 10px;
  border-radius: 5px;
  background: #0b1340;
  transition: transform 200ms, box-shadow 200ms;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 1px 3px 4px 0px #00000082;
    transform: translateY(-2px);
  }
}

.color-group {
  display: flex;
}
.color-list {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #677889;
  overflow: hidden;
  transition: transform 200ms, box-shadow 200ms;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translateY(-2px);
    box-shadow: 1px 3px 4px 0px #00000082;
  }
}

.options {
  &-shape,
  &-color,
  &-ai {
    margin-bottom: 15px;
  }
}

.options-title {
  font-size: 1.5rem;
  margin-right: 15px;
}

.options-ai-title-group {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  &:focus {
    box-shadow: 0 0 0 12px #8169ff69;
  }
}

input:checked + .slider {
  background-color: #7c4dff;
}

input:focus + .slider:before {
  box-shadow: 0 0 0 12px #8169ff69;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 600px) {
  body {
    font-size: 1.25rem;
  }
}

@media (max-height: 475px) {
  .player-btn-group {
    height: 50px;
  }
  .dropdown-options {
    top: 50px;
  }
}
